/* Roboto Variable Font - Normal */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../fonts/Roboto-VariableFont_wdth,wght.ttf) format('truetype-variations');
}

/* Roboto Variable Font - Italic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(../fonts/Roboto-Italic-VariableFont_wdth,wght.ttf) format('truetype-variations');
}
@font-face {
    font-family: 'Jost';
    font-display: swap;
    src: url(../fonts/Jost-ExtraBold.ttf) format('truetype');
}
